<header class="header">
    <div class="header__banner">
        <p class="banner__text">Free Courses 🌟 Sale Ends Soon, Get It Now</p>
    </div>
    <nav class="header__nav">
        <div class="nav__container">
            <a class="nav__logo" href="#"><img src="/assets/images/logo.jpg" alt="logo"></a>
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="../../pages/coursesPage/CoursesPage.html">Courses</a></li>
                <li class="nav__item"><a class="nav__link" href="../../pages/aboutUsPage/AboutUsPage.html">About Us</a></li>
                <li class="nav__item"><a class="nav__link" href="../../pages/pricingPage/PricingPage.html">Pricing</a></li>
                <li class="nav__item"><a class="nav__link" href="../../pages/contactPage/ContactPage.html">Contact</a></li>
            </ul>
        </div>
        <div class="nav__actions">
            <a class="btn" href="../../pages/signUpPage/SignUpPage.html">Sign Up</a>
            <a class="btn btn--primary" href="../../pages/loginPage/LoginPage.html">Login</a>
        </div>
    </nav>
</header>