.PageText {
    display: flex;
    justify-content: center;
}

.PageText .PageText__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 100px 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E4E4E7;
}

.PageText__title {
    width: 50%;
    color: var(--color-text);
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.PageText__text {
    width: 50%;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}