<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__content">
      <div class="footer__info">
        <img class="info__icon" src="../../assets/images/logo.jpg" alt="logo">
        <div class="info__content">
          <p class="info__mail">hello@skillbridge.com</p>
          <p class="info__phone">+91 91813 23 2309</p>
          <p class="info__address">Somewhere in the World</p>
        </div>
      </div>
      <div class="footer__nav">
        <ul class="nav_list">
          <li class="list_item list__item-title">Home</li>
          <li class="list_item"><a href="#">Benefits</a></li>
          <li class="list_item"><a href="#">Our Courses</a></li>
          <li class="list_item"><a href="#">Our Testimonials</a></li>
          <li class="list_item"><a href="#">Our FAQ</a></li>
        </ul>
        <ul class="nav_list">
          <li class="list_item list__item-title">About Us</li>
          <li class="list_item"><a href="#">Company</a></li>
          <li class="list_item"><a href="#">Achievements</a></li>
          <li class="list_item"><a href="#">Our Goals</a></li>
        </ul>
        <div class="nav__social">
          <p class="list__item-title">Social Profiles</p>
          <a><img src="/assets/icons/facebook.svg" alt="facebook"></a>
          <a><img src="/assets/icons/twitter.svg" alt="twitter"></a>
          <a><img src="/assets/icons/in.svg" alt="linkedin"></a>
        </div>
      </div>
    </div>
    <div class="footer__rights">
      <p>© 2023 Skillbridge. All rights reserved.</p>
    </div>
  </div>
</footer>