.course {
    display: flex;
    justify-content: center;
}

.course .course__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 100px 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #E4E4E7;
}

.course__title {
    width: 50%;
    color: var(--color-text);
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.course__text {
    width: 50%;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}

.course_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
    gap: 50px;
}

.content__block {
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.block__title {
    display: flex;
    justify-content: space-between;
}

.title__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.title__content  h3 {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 10px;
}

.title__content p {
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}

.title__link {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 18px 24px;
    height: 63px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-muted);
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-text);
}

.block__images {}

.images__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.images__context {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.images__context p {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-text);
}

.images__context p span {
    border: 1px solid var(--color-muted);
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 400;
    color: #59595A;
    margin-right: 10px;
}

.block__curr {
    margin-top: 50px;
    border: 1px solid var(--color-muted);
    border-radius: 10px;
}

.curr__title {
    border-bottom: 1px solid var(--color-muted);
    padding: 24px 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: var(--color-text);
}

.curr__content {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}

.curr__item {
    padding-right: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

.curr__item:not(:last-child) {
    border-right: 1px solid var(--color-muted);
}

.curr__item:not(:first-child) {
    padding-left: 50px;
}

.curr__item h4 {
    font-weight: 800;
    font-size: 50px;
    color: var(--color-text);
    margin-bottom: 20px;
}

