.OpenPage__content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
}

.OpenPage__about {
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 50px;
}

.about__num {
    font-weight: 700;
    font-size: 80px;
    line-height: 24px;
    text-align: right;
    color: var(--color-text);
}

.about__context {
    margin-top: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
}

.about__content {
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}

.content__line {
    border: 1px solid var(--color-muted);
    border-radius: 8px;
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text__bold {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #333333;
}

.text__thin {
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}

.text__time {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    padding: 12px 14px;
    border-radius: 4px;
    background-color: #F7F7F8;
    color: #59595A;
}

.text__time:before {
    margin-right: 7px;
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    width: 20px;
    height: 21px;
    background-image: url("data:image/svg+xml;utf8,<svg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10 4.5V10.5H14.5M19 10.5C19 15.4706 14.9706 19.5 10 19.5C5.02944 19.5 1 15.4706 1 10.5C1 5.52944 5.02944 1.5 10 1.5C14.9706 1.5 19 5.52944 19 10.5Z' stroke='%234C4C4D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

.line__attention {
    border: 1px solid #FFD599;
    box-shadow: 0 0 0 4px #FFF4E5;

}

.text__attention {
    background-color: #FFEACC;!important;
}